# GitHub PAT
GITHUB_PAT=ghp_xxx_replace_me

# Google Auth
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_IDS=your-google-client-id.apps.googleusercontent.com
ALLOWED_GOOGLE_EMAILS=your-email@gmail.com,editor@gmail.com

# JSON Object For Email Address
EMAIL_PASSWORD_USERS={"your-email@gmail.com":"<sha256_hex_password>"}

# Optional Settings
ALLOWED_DOMAINS=localhost:4321,*.yourdomain.com
